@charset "utf-8";
/* 도깨비 PJ : 메인페이지 CSS - main.css */
   
/* 리셋, 공통 외부 CSS 합치기(merge */
@import url(./common.css);
@import url(./core.css);
@import url(./reset.css);

/* 공사중 표시 */
body * {
    outline: 2px dashed #ccc;
}
body>div>* {
    outline-color: red;
}



/* 개별 영역 박스 -> 확장형 박스
-> 개별 영역 중앙 속 박스에 높이값을 주면
파트박스가 늘어날 경우 높이값에 제한을 받게 됨! 
확장형을 반드시 파트박스에 높이값을 설정한다! */

/**************************** 2. 캐릭터 소개 영역 ****************************/
#banner {
    background-color: lightblue;
}
.banner .partbox {
height: 530px;
}
/**************************** 3. 메인영역: .group-part ****************************/
#main {
    background-color: lightgoldenrodyellow;
}
/* 방송 소개 편성 파트 */
.main .group-part-01 .partbox {
height: 455px;
}
/* 미리보기 파트 */
.main .group-part-02 .partbox {
height: 298px;
}
/* 현장 포토 파트 */
.main .group-part-03 .partbox {
height: 300px;
}
/* 대표이미지 파트 */
.main .group-part-04 .partbox {
height: 542px;
}
/* 최신 동영상 파트 */
.main .group-part-05 .partbox {
height: 376px;
}


