@charset "utf-8";
/* CGV PJ 미디어쿼리 CSS - media.css */

/************* 1370px 이하 사이즈 시작 *************/
@media screen and (max-width: 1370px) {
    /* GNB 메뉴 */
    .gnb {
        right: 80px;
    }
}
/************* 1330px 이하 사이즈 종료 *************/

/************* 1050px 이하 사이즈 시작 *************/
@media screen and (max-width: 1050px) {
    /* 2-2. GNB */
    .gnb {
       bottom: -90px;
       height: 140px;
       /* 하위 ul 안보일 때에도 위치 유지하기 위해 */
    }
    .gnb ul {
        top: 53px;
        left: 59px;
        flex-direction: column;
        align-items: flex-end;
    }
    /* 상위메뉴 오버 시 하위메뉴 보이기 없앰 */
    .gnb ul>li:hover .smenu {
        /* 처음에는 안보임 */
        display: none;
    }

    /* .gnb 오버 시 ul 보이기 */
    .gnb:hover ul {
        display: flex;
    }
}
/************* 1050px 이하 사이즈 종료 *************/

/************* 800px 이하 사이즈 시작 *************/
@media screen and (max-width: 800px) {
    
}
/************* 800px 이하 사이즈 종료 *************/
